<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmB3LT8km1Yu6RtzgfRcJWDsxZcWif2Kg</string>
	<key>GCM_SENDER_ID</key>
	<string>739062771931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capstone1Project1</string>
	<key>PROJECT_ID</key>
	<string>capd1-2140d</string>
	<key>STORAGE_BUCKET</key>
	<string>capd1-2140d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739062771931:ios:cc13688268982d93759cfe</string>
</dict>
</plist>